/* Index.php */

/* Change font size and family */
body {
    font-family: Poppins, sans-serif;
    font-size: 16px;  
  }
  
h1 {
    font-family: 'Abril Fatface', serif;
    font-size: 46px;  
  }

/* Header font */
.hf {
    font-family: 'Abril Fatface', serif;
    font-size: 20px;  
}

/* Jumbotron */
.jt {
  background-color: black;
  color: white;

}

/* Footer */
.ft {
  font-size: smaller;

}

/* Social logo */
.sl {
  font-size: larger;

}


/* Registration page */
/* Custom margin for the form */

.reg-form-custom-width {
  width: 50%;

}